@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import '../css/wrapper.css';
@import '../css/form.css';
@import "tailwindcss";
@plugin "daisyui";

:root{

    --primary-color: #F2F864;
    --secondary-color: #EFF662;
    --secondary-light-color:#32f459;
    --secondary-dark-color:#1f7b31;
    --tertiary-color:#222222;
    --background-color: #181818;
    --my-white: #fff;
    --secondary-light-color: #dfe0ca;
    --background-green-color: #3b8d50;


    --glass-bg: rgba(255, 255, 255, 0.1);
    --glass-border: rgba(255, 255, 255, 0.2);
    /* About my different fonts */
    --font-primary: 'Inter+Tight', sans-serif;
    --font-secondary: 'Instrument+Sans', sans-serif;

    /* Font size */
    --paragraph-font-size: 1rem

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans", sans-serif;
}

button{
    cursor: pointer;
    border: none;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 999px;
}